.terms-list ul {
	padding-left: 2.5em;

	ul {
		margin-top: 6px;
	}
}

/* Center alignment for classic themes. */
[data-align="center"] .terms-list {
	text-align: center;
}

.terms-list__indentation {
	padding-left: 16px;
}
