.wp-block-a8csp-carousel {

	.wp-block-a8csp-carousel-track {
		container-name: carousel-track;
		container-type: inline-size;
		display: flex;
		flex-wrap: nowrap;
		margin: 0;
		position: relative;
		width: 100%;
		--wp--style--block-gap: var(--item-gap);
	}

	.wp-block-a8csp-carousel-track.wp-block-gallery.has-nested-images[class*="columns-"] {

		&.is-cropped figure.wp-block-image:not(#individual-image) {
			height: var(--track-height);
			width: var(--track-height);
		}

		&:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
			height: var(--track-height);
			width: auto;
			display: flex;

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
