<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	cacheResultFile=".phpunit.result.cache"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="table-plus">
			<directory>tests/php</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">classes</directory>
		</include>
	</coverage>
</phpunit>
