.wp-block-wpcomsp-tabs {
	&.is-selected {
		.block-list-appender {
			top: -41px;
			bottom: auto;
		}
	}

	.tab-button-text {
		display: inline-block;
		min-width: 60px;

		&:focus {
			outline: none;
		}
	}
}
