.wp-block-wpcomsp-tabs {
	[role="tablist"] {
		min-width: 100%;
	}

	[role="tab"] {
		display: inline-block;
		position: relative;
		z-index: 2;
		top: 2px;
		margin: 0;
		padding: 3px 3px 4px;
		outline: none;
		font-weight: bold;
		max-width: 22%;
		overflow: hidden;
		text-align: left;
		cursor: pointer;
		background-color: transparent;
		border: none;
		box-sizing: border-box;
	}

	[role="tab"][aria-selected="true"] {
		border-bottom: 2px solid black;
	}

	[role="tab"] .tab-button-text {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 2px;
		padding: 4px 6px;
		min-height: 20px;
	}

	[role="tab"]:hover .tab-button-text,
	[role="tab"]:focus .tab-button-text,
	[role="tab"]:active .tab-button-text {
		padding: 2px 4px;
		border: 2px solid rgb(36 116 214);
		border-radius: 3px;
	}

	[role="tabpanel"] {
		box-sizing: border-box;
		padding: 5px;
		border-top: 2px solid hsl(219deg 1% 72%);
		min-height: 10em;
		width: 100%;
		overflow: auto;
	}
}
