/**
 * WordPress dependencies
 */
@use "@wordpress/base-styles/breakpoints" as *;
@use "@wordpress/base-styles/mixins" as *;

.wp-block-wpcomsp-tabs {
	[role="tablist"] {
		min-width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1px;
	}

	.tab {
		display: inline-block;
		position: relative;
		z-index: 2;
		margin: 0 0 -2px;
		padding: 3px 3px 4px;
		outline: none;
		font-weight: bold;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
		background: none;
		border: none;
		box-sizing: border-box;
		flex: 1;
		min-width: 0;
		width: 100%;

		&[aria-selected="true"] {
			border-bottom: 2px solid black;
		}

		.tab-button-text {
			display: inline-flex;
			align-items: center;
			margin: 2px;
			padding: 4px 6px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			box-sizing: border-box;
			min-height: 44px;
		}

		&:hover .tab-button-text,
		&:focus .tab-button-text,
		&:active .tab-button-text {
			padding: 2px 4px;
			border: 2px solid rgb(36 116 214);
			border-radius: 3px;
		}
	}

	[role="tabpanel"] {
		box-sizing: border-box;
		padding: 5px;
		border-top: 2px solid hsl(219deg 1% 72%);
		min-height: 10em;
		width: 100%;
		overflow: auto;
	}

	@include break-mobile {
		[role="tablist"] {
			flex-direction: row;
		}

		.tab {
			max-width: 22%;
			text-align: left;
		}

		.tab .tab-button-text {
			min-height: 20px;
		}
	}
}
