.wpcomsp-stretchy-paragraph {
	display: flex;
	overflow-x: hidden;
	container-type: inline-size;

	> p[aria-hidden="true"] {
		visibility: hidden;
	}

	> div {
		flex-grow: 1;
		container-type: inline-size;
		--container-width: 100cqi;

		> p {
			--text-width: calc(var(--container-width) - 100cqi);

			/* Ratio can't be calculated by dividing CSS properties yet.
			 * Until it is supported, use the following workaround:
			 * https://dev.to/janeori/css-type-casting-to-numeric-tanatan2-scalars-582j.
			 */
			--ratio: tan(atan2(var(--container-width), var(--text-width)));

			font-size: calc(1em * var(--ratio));
			white-space: nowrap;
		}
	}
}

@property --container-width {
	syntax: "<length>";
	initial-value: 0;
	inherits: true;
}

@property --text-width {
	syntax: "<length>";
	initial-value: 0;
	inherits: true;
}
