.wp-block-wpcomsp-marquee {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;

	// TODO: This should be a setting of the block.
	--speed: 10s;
	--direction: normal;
}

// We need this so groups with negative margins overlap as expected.
:where(
		.wp-block-wpcomsp-marquee.wp-block-wpcomsp-marquee-is-layout-constrained
	) {
	position: relative;
}

// TODO: This should be a class but for some reason I can't set the class
// property on the block in render.php without it messing up the HTML output.
[data-wp-interactive="wpcomsp/marquee"] {
	overflow: clip;
	display: flex;
	flex-direction: row;
}

.wp-block-wpcomsp-marquee__inner {
	animation: wpcomsp-marquee var(--speed) linear infinite var(--direction);
	min-width: 100%;
}

@keyframes wpcomsp-marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100%));
	}
}
