.wp-block-wpcomsp-carousel {
	--animation-speed: 0.3s;
	--item-gap: var(--wp--preset--spacing--20);
	--track-height: 430px;
	position: relative;
	width: 100%;

	> * {
		width: 100%;
	}

	.wp-block-group.wp-block-wpcomsp-carousel-track {
		gap: var(--wp--style--block-gap);
	}

	&.has-overflow-hidden .wp-block-wpcomsp-carousel-track {
		overflow-x: hidden;
	}

	&.has-overflow-right .wp-block-wpcomsp-carousel-track {
		clip-path: inset(0 -100vw 0 0);
	}

	&.has-overflow-left .wp-block-wpcomsp-carousel-track {
		clip-path: inset(0 0 0 -100vw);
	}

	.wp-block-wpcomsp-carousel-track > * {
		flex: 1 0 auto;
		margin: 0;
		max-width: 100%;
	}

	@media (prefers-reduced-motion: no-preference) {

		&.is-animating .wp-block-wpcomsp-carousel-track > * {
			transition: transform var(--animation-speed) ease-in-out;
		}
	}
}
