.wp-block-wpcomsp-carousel {
	--animation-speed: 0.3s;
	--item-gap: var(--wp--preset--spacing--20);
	--track-height: 430px;
	position: relative;
	width: 100%;

	> * {
		width: 100%;
	}

	.wp-block-group.wp-block-wpcomsp-carousel-track {
		gap: var(--wp--style--block-gap);
	}

	&.has-overflow-hidden {

		.wp-block-gallery,
		.wp-block-query,
		.wp-block-group.wp-block-wpcomsp-carousel-track,
		.wp-block-woocommerce-product-collection {
			overflow-x: hidden;
		}
	}

	&.has-overflow-right {

		.wp-block-gallery,
		.wp-block-query,
		.wp-block-group.wp-block-wpcomsp-carousel-track,
		.wp-block-woocommerce-product-collection {
			clip-path: inset(-100vw -100vw -100vw 0);
		}
	}

	&.has-overflow-left {

		.wp-block-gallery,
		.wp-block-query,
		.wp-block-group.wp-block-wpcomsp-carousel-track,
		.wp-block-woocommerce-product-collection {
			clip-path: inset(0 0 0 -100vw);
		}
	}

	.wp-block-gallery .wp-block-image,
	.wp-block-post,
	> .wp-block-group > *,
	.wc-block-product {
		flex: 0 0 auto;
		margin: 0;
		max-width: 100%;
	}

	@media (prefers-reduced-motion: no-preference) {

		&.is-animating {

			.wp-block-gallery .wp-block-image,
			.wp-block-post,
			> .wp-block-group > *,
			.wc-block-product {
				transition: transform var(--animation-speed) ease-in-out;
			}
		}
	}
}
