@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap);

.wp-block-wpcomsp-table-plus {
	width: 100%;
	font-family: Inter, sans-serif;
	border: none !important;

	strong,
 b {
		font-weight: 800;
	}
}
