body.modal-open {
	overflow: hidden;
}

.wp-block-a8csp-modal-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	display: flex;
	left: 0%;
	justify-content: center;
	max-width: 100%;
	position: fixed;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	top: 0%;
	width: 100%;
	z-index: -100;

	&.is-open {
		opacity: 1;
		z-index: 1000;
	}

	.close-modal {
		align-items: center;
		display: flex;
		height: 24px;
		padding: 0;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 24px;

		svg {
			path {
				stroke: currentColor;
			}
		}
	}

	.wp-block-a8csp-modal-container--inner {
		max-height: 100%;
		overflow-y: scroll;
		width: 100%;
	}
}
