/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wpsp-accordion__toggle {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 0;
	outline: none;
}

.wpsp-accordion__toggle {
	display: flex;
	text-align: inherit;
	padding-right: 24px;
	position: relative;
	width: 100%;
}

.wpsp-accordion__toggle > span {
	width: 100%;
}

.wpsp-accordion__toggle::after {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.34424 9.19922L11.9442 18.7992L21.5442 9.19922" stroke="currentColor" stroke-width="2.4" stroke-linecap="square" stroke-linejoin="round"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
	content: '';
    position: absolute;
    top: 50%;
    right: 0;
	width: 24px;
	height: 24px;
    transform: translateY(-50%);
}

.wpsp-accordion__toggle:focus-visible {
	outline: 2px solid #0073aa;
	outline-offset: 2px;
}

.wp-block-wpsp-accordion.is-open > h3 > .wpsp-accordion__toggle::after {
	transform: translateY(-50%) rotate(180deg);
}

/* Add transition only for users who do not prefer reduced motion */
// @media (prefers-reduced-motion: no-preference) {
// 	.wp-block-wpsp-accordion button::after {
//         transition: transform 0.2s ease-in-out;
//     }
// }