:root,
.wp-block-wpsp-accordion-item {
	--wpsp--accordion--parent-color: currentColor;
}

.wp-block-wpsp-accordion-item {
	display: grid;
	grid-template-rows: max-content 0fr;
}

.wp-block-wpsp-accordion-item.is-open {
	grid-template-rows: max-content 1fr;
}

.wp-block-wpsp-accordion-item .wpsp-accordion-item__heading {
	color: inherit;
	padding: 0;
	margin: 0;
}

.wpsp-accordion-item__toggle {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	word-spacing: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
	text-align: inherit;
	position: relative;
	width: 100%;
}

.wpsp-accordion-item__toggle > span {
	width: 100%;
}

.wp-block-wpsp-accordion-content {
	overflow: hidden;
}

.wpsp-accordion-item__toggle-icon {
	background-color: var(--wpsp--accordion--parent-color);
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}

/* No icon block style */
.is-style-no-icon .wpsp-accordion-item__toggle-icon {
	background-color: unset;
}

.wp-block-wpsp-accordion.icon-position-left .wpsp-accordion-item__toggle {
	flex-direction: row-reverse;
}

.wpsp-accordion-item__toggle:focus,
.wpsp-accordion-item__toggle:focus-visible {
	outline: 2px solid -webkit-focus-ring-color;
	outline-offset: 2px;
}

/* Add transitions only for users who do not prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
	.wp-block-wpsp-accordion-item .wpsp-accordion-item__toggle-icon {
        transition: transform 0.2s ease-in-out;
    }

	.wp-block-wpsp-accordion-item {
		transition: grid-template-rows 0.3s ease-out;
	}
}

/* Default block style */
.wp-block-wpsp-accordion .wpsp-accordion-item__toggle-icon,
.wp-block-wpsp-accordion.is-style-default .wpsp-accordion-item__toggle-icon {
	mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5L12 19" stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 12L19 12" stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.wp-block-wpsp-accordion .is-open .wpsp-accordion-item__toggle-icon,
.wp-block-wpsp-accordion.is-style-default .is-open .wpsp-accordion-item__toggle-icon {
	transform: rotate(45deg);
}
/* Chevron block style */
.wp-block-wpsp-accordion.is-style-chevron .wpsp-accordion-item__toggle-icon {
	mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.34424 9.19922L11.9442 18.7992L21.5442 9.19922" stroke="currentColor" stroke-width="2.4" stroke-linecap="square" stroke-linejoin="round"/></svg>');
}
.wp-block-wpsp-accordion.is-style-chevron .is-open .wpsp-accordion-item__toggle-icon {
	transform: rotate(-180deg);
}
/* Arrow block style */
.wp-block-wpsp-accordion.is-style-arrow .wpsp-accordion-item__toggle-icon {
	mask: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12L20 12M13 5L20 12L13 19' stroke='currentColor' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	transform: rotate(90deg);
}
.wp-block-wpsp-accordion.is-style-arrow .is-open .wpsp-accordion-item__toggle-icon {
	transform: rotate(-90deg);
}