@import '../../node_modules/@wordpress/base-styles/breakpoints';

.wp-block-a8csp-flowing-column {
	columns: var(--a8csp-flowing-column-column-count);
	column-gap: var(--a8csp-flowing-column-column-gap);
	column-rule-style: var(--a8csp-flowing-column-column-rule-style);
	column-rule-width: var(--a8csp-flowing-column-column-rule-width);
	column-rule-color: var(--a8csp-flowing-column-column-rule-color);

	:first-child {
		margin-top: 0;
	}

	&.stack-on-mobile {
		@media (max-width: $break-medium) {
			columns: 1;
		}
	}
}
