.wp-block-a8csp-flowing-column {
	columns: var(--a8csp-flowing-column-column-count) var(--a8csp-flowing-column-column-min-width);
	column-gap: var(--a8csp-flowing-column-column-gap, 2em);
	column-rule-style: var(--a8csp-flowing-column-column-rule-style);
	column-rule-width: var(--a8csp-flowing-column-column-rule-width, 1px);
	column-rule-color: var(--a8csp-flowing-column-column-rule-color, currentColor);

	> :first-child {
		margin-top: 0;
	}
}
